<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/agent/dashboard">Dashboard</a></li>
		<li><a href="/agent/collections/pending">Approved Requests</a></li>
		<li><a href="/agent/rejectedReq">Rejected Requests</a></li>
		<li><a href="/agent/collections/previous">Previous Collections</a></li>
		<li><a href="/agent/listedFood">Listed Food</a></li>
		<li><a href="/agent/profile">My Profile</a></li>
		<li style="visibility: hidden;"><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>